
@{
    ViewData["Title"] = "Thaldin's Commission Miniatures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Abshire_Ed.Models.LoginCredentials

@if (ViewBag.ShowLoginForm)
{
    <h2>Please sign in</h2>
    <form id="signin" asp-action="Login" method="post">
        <div id="userNameLogin">
            <label for="username">User Name:</label><input id="username" type="text" asp-for="UserName" />
        </div>
        <div id="passwordLogin">
            <label for="password">Password:</label><input id="password" type="password" asp-for="Password" />
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
        <label id="errorMsg">@ViewBag.LoginMessage</label>
    </form>
}
