
@{
    ViewData["Title"] = "Thaldin's Commission Miniatures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Abshire_Ed.Models.LoginCredentials

@if (ViewBag.ShowLoginForm)
{
    <h2 class="signinHeader">Please sign in</h2>
    <form id="signin" asp-action="Login" method="post">
        <div id="userNameLogin">
            <label for="username">User Name:</label><input id="username" type="text" asp-for="UserName" />
        </div>
        <div id="passwordLogin">
            <label for="password">Password:</label><input id="password" type="password" asp-for="Password" />
        </div>
        <div id="submit">
            <button id="submit" type="submit">Submit</button>
        </div>
        <div class="errorMsg" id="errorMsg">
            <label>@ViewBag.LoginMessage</label>
        </div>
    </form>
}
