@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Abshire_Ed.Models.PersonModel

<!doctype html>
<html>
<head>
    <title>Prog 123 - EditPerson</title>
</head>
<body>
    <p>Edit Person</p>

    <form id="PersonForm" asp-action="UpdatePerson" method="post">
        <label for="firstname">First Name: </label>
        <input id="firstname" type="text" asp-for="FirstName" /><br />
        <label for="lastname">Last Name: </label>
        <input id="lastname" type="text" asp-for="LastName" /><br />
        <label for="email">Email: </label>
        <input id="email" type="email" asp-for="Email" /><br />
        <label for="phone">Phone Number: </label>
        <input id="phone" type="text" asp-for="Phone" /><br />
        <label for="address">Address: </label>
        <input id="address" type="text" asp-for="Address" /><br />
        <label for="username">Username: </label>
        <input id="username" type="text" asp-for="Username" /><br />
        <button type="submit">Update</button>
    </form>
</body>
</html>
