body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#errorMsg {
    color: red;
}

.productHeader {
    font-weight: bolder;
    clear: both;
}

.product {
    font-weight: normal;
    clear: both;
}

.productName, .productDesc, .productPrice, .productInv, .productId, .productEdit, .productDelete, .productBuy {
    float: left;
    margin-left: 5px;
}

.productName {
    width: 200px;
}

.productDesc {
    width: 400px;
}

.productPrice {
    width: 80px;
}

.productInv {
    width: 75px;
    text-align: center;
}

.productId {
    width: 50px;
    text-align: center;
}

.productEdit {
    width: 30px;
}

.productDelete {
    width: 40px;
}

.productBuy {
    width: 100px;
}